.container1{
    
   display: grid;
    grid-template-columns: 20% auto ;
   /*grid-template-rows: 400px 100px 400px;*/
 
    
   
}
body{
    background-color: orange;
}
.a003{
    margin: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% auto;
    height: 25px;
    background-color: blue;

}
 .a002:hover,.a002:active{
     border: solid;
     border: 5px;

 }

.a002{
    background-color:aqua;
    border-style: solid ;
    height: 100%;
   

}

.container{
    display: flex;
    flex-wrap: wrap;
    
   
  
}




.card{
   
   
    background-color:aqua;
    border-style: solid ;
   width: 300px;
   height: 400px;
   margin-left:5px;
   margin-top:5px ;
}


.imag{
    height: 200px;
    width: 200px;
    margin-top: 5px;
    text-align: center;
    margin-left: 20px;

}
.link{
    margin-top: 30px;}
span{
    color: while;
}
.cost{
    margin-top: 5px;
}

.offer{border-style:solid;
    background-color:white;
    width: 100px;
   border-bottom-right-radius:5in;
}
.top{
    background-color: aqua;
    height: 100px;
}
a:hover , a:active {
    color: red;
    font-size: 100%;
    background-color: pink;
    font-style: italic;
  }

img:hover, img:active{
    height: 200px;
    width: 250px;

}  
.class1{
    background-color: purple;
    margin: 5px;
  
}

